.profile-page{
    position: absolute;
    width: 78vw;
    height: 83vh;
    margin-top: 8vh;
}

.header {
    margin-top: 3vh;
    display: flex;
}

.profile_img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.user-info {
    margin-left: 44px;
    margin-top: 23px;
}

.user-name {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: left;
    color: #33475c;
}

.user-unit {
    display: block;
    margin-top: 14px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #7c98b6;
}

.user-title {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #7c98b6;
}

.card {
    position: absolute;
    width: 317px;
    height: 130px;
    right: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-header {
    padding: 14px 10px 0 16px;
}

.card-header span{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #33475c;
}

.expand-button {
    width: 24px;
    height: 24px;
    float: right;
    object-fit: contain;
    cursor: pointer;
}

.info-button {
    width: 16px;
    height: 16px;
    object-fit: contain;
    cursor: pointer;
}

.card-body {
    padding: 20px 62px 0 16px;
}

.count {
    width: 239px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #33475c;
}

.rate {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #ff4141;
}

.edit-photo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #7c98b6;
}

.camera-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 6px;
}

.nav-tabs {
    float: left;
    width: 13vw;
}

.nav-panels {
    float: right;
    width: 65vw;
    height: 60vh;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.pane-settings {
    padding-top: 4vh;
    padding-left: 3vw;
}

.nav-panels-header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #7c98b6;
}

.cbs-input {
    display: block;
    width: 80%;
    border-bottom: 2px solid #cbd7e2;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 5px;
    color: #33475c;
    font-size: 16px;
    outline: none;
}

.cbs-input:focus {
    border-bottom: 2px solid #4285f4;
    -webkit-box-shadow: 0 1px 0 0 #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
}

.cbs-label {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #808495;
}

.change-password {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #7c98b6;
}

.social-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: left;
    color: #33475c;
}

.tab-title {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 2.6px;
    text-align: left;
    color: #33475c;
    cursor: pointer;
}

.line {
    width: 77px;
    float: right;
    margin-top: 10px;
    height: 0;
    border: solid 1px #7c98b6;
}

.body {
    width: 78vw;
}

.profile-banner {
    padding-left: 1vw;
}

.profile-textbox {
    margin-top: 1rem;
}
@media (max-width: 1280px) {
    .header{
        margin-left: 1vw;
    }
    .social-text {
        min-width: 40%;
    }
    .profile-textbox {
        margin-top: 1.5rem;
    }
    .profile-page {
        margin-left: 8vw;
        width: 85vw;
    }
    .nav-panels {
        width: 66vw;
    }
    .nav-tabs {
        width: 19vw;
    }
    .body {
        width: 85vw;
    }
}
@media (min-width: 1281px) and (max-width: 1440px) {
    .social-text {
        min-width: 36%;
    }
    .profile-textbox {
        margin-top: 1.5rem;
    }
    .profile-page {
        margin-left: 8vw;
        width: 85vw;
    }
    .nav-panels {
        width: 66vw;
    }
    .nav-tabs {
        width: 19vw;
    }
    .body {
        width: 85vw;
    }
}
@media (min-width: 1441px) and (max-width: 1680px) {
    .social-text {
        min-width: 33%;
    }
    .profile-textbox {
        margin-top: 3rem;
    }
    .profile-page {
        margin-left: 17vw;
        width: 79vw;
    }
    .nav-panels {
         width: 63vw;
     }
    .nav-tabs {
        width: 16vw;
    }
    .body {
        width: 79vw;
    }
}
@media (min-width: 1680px) {
    .social-text {
        min-width: 30%;
    }
    .profile-textbox {
        margin-top: 3rem;
    }
    .profile-page {
        margin-left: 14vw;
    }
    .nav-panels {
        width: 65vw;
    }
    .nav-tabs {
        width: 13vw;
    }
}