.profile-page{
    position: absolute;
    width: 78vw;
    height: 83vh;
    margin-top: 8vh;
    display: flex;
}
.header {
    margin-top: 3vh;
    display: flex;
}

.nav-tabs {
    height: 48px;
    display: flex;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.14);
    background-color: #33475c;
}

.nav-panels {
    position: absolute;
    float: right;
    margin-top: 16px;
    height: 60vh;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.panel-title {
    width: 1680px;
    height: 1078px;
    background-color: #f5f8fa;
}
.pane-header {
    width: 100%;
    height: 82px;
    background-color: #f5f8fa;
    border-bottom: solid 1px #cbd7e2;
}
.pane-profile {
    display: none;
}
.pane-profile.active{
    display: block;
}
.pane-notebook{
    display: none;
}
.pane-notebook.active{
    display: block;
}
.nav-panels-header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    width: 100%;
    position: absolute;
    line-height: 1.39;
    margin: 27px 0 0 24px;
    letter-spacing: normal;
    text-align: left;
}
.line-profile {
    display: none;
    width: 143px;
    height: 4px;
    background-color: #f5f8fa;
    margin-left: 24px;
    position: absolute;
    margin-top: 7px;
}
.line-profile.active {
    display: block;
}
.line-address {
    display: none;
    width: 143px;
    height: 4px;
    background-color: #f5f8fa;
    margin-left: 24px;
    position: absolute;
    margin-top: 7px;
}
.line-address.active {
    display: block;
}
.tabs {
    width: 78vw;
    margin-left: 16px;
}
.nav-tabs-item {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 2.6px;
    text-align: left;
    color: #ffffff;
    margin-top: 11px;
}
.profile-tab {
    margin-left: 24px;
    margin-right: 30px;
}
.address-tab {
    margin-left: 30px;
    margin-right: 30px;
}
.settings-tab {
    margin-left: 30px;
    margin-right: 30px;
}
.password-tab {
    margin-left: 30px;
}
.separator {
    width: 1px;
    position: absolute;
    height: 14px;
    margin-top: 5px;
    background-color: #ffffff;
}

@media (max-width: 1280px) {
    .header{
        margin-left: 1vw;
    }
    .profile-page {
        margin-left: 8vw;
        width: 85vw;
    }
    .nav-panels {
        width: 66vw;
    }
    .nav-tabs {
        width: 19vw;
    }
    .tabs {
        width: 85vw;
    }
}
@media (min-width: 1281px) and (max-width: 1440px) {
    .profile-page {
        margin-left: 8vw;
        width: 85vw;
    }
    .nav-panels {
        width: 66vw;
    }
    .nav-tabs {
        width: 19vw;
    }
    .tabs {
        width: 85vw;
    }
}
@media (min-width: 1441px) and (max-width: 1680px) {
    .profile-page {
        margin-left: 17vw;
        width: 79vw;
    }
    .nav-panels {
         width: 63vw;
     }
    .nav-tabs {
        width: 16vw;
    }
    .tabs {
        width: 79vw;
    }
}
@media (min-width: 1680px) {
    .profile-page {
        margin-left: 14vw;
    }
    .nav-panels {
        width: 58vw;
    }
    .nav-tabs {
        width: 58vw;
        margin-top: 3vh;
    }
}