.navbar .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.navbar .user-profile .full-name {
    font-size: 13px;
    font-weight: bold;
    color: #43425d;
}

.navbar .user-profile .profile-img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border: solid 1px #cbd7e2;
    border-radius: 50%;
    margin-left: 18px;
}

.navbar .user-profile .arrow-down-icon {
    margin-left: 10px;
}

.navbar .user-profile .menu {
    position: absolute;
    top: 64px;
    width: 232px;
    right: 0;
    background-color: #ffffff;
    height: 166.5px;
    border: solid 1px #cbd7e2;
}

.navbar .user-profile .menu div {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    color: #7c98b6;
    padding-left: 25px;
    padding-top: 20px;
}

@media (max-width: 732px) {
    .navbar .user-profile .full-name {
        display: none;
    }
    .navbar .user-profile {
        width: 106px;
        height: 100%;
        border-left: solid 1px #cbd7e2;
    }
}

@media (min-width: 732px) {
    .navbar .user-profile .full-name {
        display: none;
    }
    .navbar .user-profile {
        width: 106px;
    }
}

@media (min-width: 1080px) {
    .navbar .user-profile .full-name {
        display: block;
    }
    .navbar .user-profile {
        width: 233px;
    }
}

@media (max-width: 1080px) {}

@media (min-width: 1300px) {}

@media (min-width: 1400px) {
    .navbar .search {
        width: 520px;
    }
}

@media (min-width: 1600px) {
    .navbar .search {
        width: 560px;
    }
}