.navbar {
    height: 64px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 1px #cbd7e2;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.navbar .search {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #cbd7e2;
    background-color: #f5f8fa;
    margin-left: auto;
}

.navbar .search .search-icon {
    margin: 12px;
}

.navbar .search input {
    background-color: transparent;
    border: 0;
    line-height: 48px;
    color: #7c98b6;
    font-style: italic;
    font-size: 12px;
    width: calc(100% - 60px);
}

.navbar .search input:focus {
    outline: 0;
}

.navbar .arrow-down-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 8px;
}

.navbar .notifications {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100%;
    border-left: 1px solid #cbd7e2;
    border-right: 1px solid #cbd7e2;
    margin-left: 13px;
}

@media (max-width: 732px) {
    .navbar .notifications, .navbar .search input {
        display: none;
    }
    .navbar .search {
        border: none;
        background: transparent;
    }
    #weatherDetail {
        right: 171px;
    }
}

@media (min-width: 732px) {
    .navbar .search {
        width: 300px;
    }
}

@media (min-width: 1080px) {
    .navbar .search {
        width: 360px;
    }
    #weatherDetail {
        right: 298px;
    }
}

@media (max-width: 1080px) {
    #weatherDetail {
        right: 171px;
    }
}

@media (min-width: 1300px) {
    .navbar .search {
        width: 460px;
    }
}

@media (min-width: 1400px) {
    .navbar .search {
        width: 520px;
    }
}

@media (min-width: 1600px) {
    .navbar .search {
        width: 560px;
    }
}