.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #ffffff;
    border-right: solid 1px #cbd7e2;
    z-index: 1;
}

.sidebar.expand {
    width: 240px;
}

.sidebar.expand hr {
    width: 200px;
    border: 1px solid #cbd7e240;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-bottom: solid 1px #cbd7e2;
}

.sidebar .logo img {
    width: 24px;
    height: 32px;
    object-fit: contain;
}

.sidebar.expand .logo img {
    width: 92px;
    margin-left: 18px;
    padding-right: 20px;
    border-right: 1px solid #cbd7e2;
}

.sidebar .logo span {
    width: 110px;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #1e539c;
}

.sidebar .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.expand .menu-icon {
    justify-content: unset;
}

.sidebar .menu-icon.main-menu-icon {
    height: 64px;
    border-bottom: solid 1px #cbd7e2;
    background-color: #f5f8fa;
}

.sidebar .menu-icon svg path {
    fill: #7c98b6 !important;
}

.sidebar .menu-icon:hover {
    cursor: pointer;
}

.sidebar .menu-icon.main-menu-icon:hover svg path, .sidebar .menu-icon.sub-menu-icon:hover svg path {
    fill: #33475c !important;
}

.sidebar.expand .menu-icon {
    padding-left: 18px;
}

.sidebar.expand .menu-icon span {
    margin-left: 8px;
    font-size: 14px;
    color: #33475c;
}

.sidebar.expand .menu-title {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #7c98b6;
    margin-left: 18px;
    margin-top: 28px;
    margin-bottom: 16px;
}

.sidebar .categories {
    margin-bottom: auto;
    margin-top: auto;
}

.sidebar.expand .categories {
    height: calc(100% - 333px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar .menu-icon.sub-menu-icon {
    height: 44px;
    position: relative;
}

.sidebar.expand .menu-icon.sub-menu-icon {
    height: unset;
    align-items: unset;
    width: 200px;
}

.sidebar .menu-icon.sub-menu-icon:nth-child(4) {
    margin-top: auto;
}

.sidebar.expand .menu-icon.sub-menu-icon:nth-child(5) {
    margin-top: 16px;
}

.sidebar .menu-icon.menu-icon.sub-menu-icon label {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100px;
    height: 28px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #33475c;
    transform: translateY(-50%) translateX(100px);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
}

.sidebar .menu-icon.menu-icon.sub-menu-icon label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #33475c;
    width: 8px;
    height: 8px;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotateZ(135deg);
}

.sidebar .menu-icon.menu-icon.sub-menu-icon:hover label {
    display: flex;
}

.sidebar.expand .menu-icon.sub-menu-icon .info {
    margin-left: 8px;
}

.sidebar.expand .menu-icon.sub-menu-icon .info .title {
    font-size: 14px;
    color: #33475c;
}

.sidebar.expand .menu-icon.sub-menu-icon:hover .info .title {
    text-decoration: underline;
}

.sidebar.expand .menu-icon.sub-menu-icon .info .description {
    margin-top: 8px;
    width: 168px;
    font-size: 10px;
    font-weight: 300;
    color: #7c98b6;
}

.sidebar .menu-icon.top-menu-open-icon {
    height: 64px;
    border-bottom: solid 1px #cbd7e2;
    display: none;
}

.sidebar .menu-icon.top-menu-open-icon svg path {
    fill: #000000 !important;
}

.sidebar .menu-icon.bottom-menu-open-icon {
    height: 60px;
    margin-top: auto;
    border-top: solid 1px #cbd7e2;
}

.sidebar.expand .menu-icon.bottom-menu-open-icon {
    background-color: #33475c;
}

.sidebar.expand .menu-icon.bottom-menu-open-icon svg path {
    fill: #f5f8fa !important;
}

.sidebar.expand .menu-icon.bottom-menu-open-icon span {
    color: #f5f8fa;
    font-size: 14px;
}

@media (max-width: 1080px) {
    .sidebar .logo {
        position: absolute;
        left: 60px;
        width: 60px;
    }
    .sidebar.expand .logo {
        display: flex;
        position: unset;
        width: unset;
    }
    .sidebar .menu-icon.top-menu-open-icon {
        display: flex;
    }
    .sidebar.expand .menu-icon.top-menu-open-icon {
        position: absolute;
        left: 240px;
        background-color: #1b569c;
        width: 60px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .sidebar.expand .menu-icon.top-menu-open-icon svg path {
        fill: #ffffff !important;
    }
    .sidebar .menu-icon.bottom-menu-open-icon {
        display: none;
    }
}